In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("aula02/raw.csv", sep = ";")

In [30]:
df.head()

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail,load_date
0,female,jenifer.heesterbeek@example.com,(0926) 520583,(06) 06265943,NL,Miss,Jenifer,Heesterbeek,4917,Het Lariksbos,...,1971-02-16T16:41:31.454Z,53,2019-01-23T13:05:17.473Z,5,BSN,82872690,https://randomuser.me/api/portraits/women/27.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...,23:28:25
1,female,rosa.pena@example.com,906-337-456,636-858-663,ES,Miss,Rosa,Peña,5457,Calle del Prado,...,1961-05-18T09:52:38.073Z,62,2020-03-03T13:41:00.743Z,4,DNI,57243451-Z,https://randomuser.me/api/portraits/women/84.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...,23:28:25
2,male,sm.mwswy@example.com,002-07760638,0963-508-0351,IR,Mr,سام,موسوی,6205,آیت الله کاشانی,...,1963-01-26T20:19:24.590Z,61,2004-08-07T13:33:41.543Z,19,NaN,NaN,https://randomuser.me/api/portraits/men/49.jpg,https://randomuser.me/api/portraits/med/men/49...,https://randomuser.me/api/portraits/thumb/men/...,23:28:25
3,female,esma.kutlay@example.com,(181)-774-1350,(849)-930-9446,TR,Ms,Esma,Kutlay,1063,Vatan Cd,...,2000-10-28T22:15:37.497Z,23,2020-09-07T11:08:31.194Z,3,NaN,NaN,https://randomuser.me/api/portraits/women/56.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...,23:28:25
4,male,jack.johnson@example.com,(701)-433-5542,(504)-832-0802,NZ,Mr,Jack,Johnson,6614,Wairau Road,...,1963-06-11T13:48:45.443Z,60,2018-05-22T04:46:53.852Z,5,NaN,NaN,https://randomuser.me/api/portraits/men/3.jpg,https://randomuser.me/api/portraits/med/men/3.jpg,https://randomuser.me/api/portraits/thumb/men/...,23:28:25

In [31]:
df.columns

Index(['gender', 'email', 'phone', 'cell', 'nat', 'name.title', 'name.first',
       'name.last', 'location.street.number', 'location.street.name',
       'location.city', 'location.state', 'location.country',
       'location.postcode', 'location.coordinates.latitude',
       'location.coordinates.longitude', 'location.timezone.offset',
       'location.timezone.description', 'login.uuid', 'login.username',
       'login.password', 'login.salt', 'login.md5', 'login.sha1',
       'login.sha256', 'dob.date', 'dob.age', 'registered.date',
       'registered.age', 'id.name', 'id.value', 'picture.large',
       'picture.medium', 'picture.thumbnail', 'load_date'],
      dtype='object')