In [1]:
import mysql.connector
import pandas as pd

In [2]:
con = mysql.connector.connect(user='root', password='root', port='3306', host='127.0.0.1', database='db')

In [3]:
cursor = con.cursor()
cursor.execute('select * from cadastro')
cadastro = cursor.fetchall()
colunas = [item[0] for item in cursor.description]

In [4]:
colunas

['id',
 'sexo',
 'titulo',
 'nome',
 'sobrenome',
 'cidade',
 'estado',
 'rua',
 'pais',
 'email',
 'data_nascimento',
 'load_date']

In [5]:
df = pd.DataFrame(cadastro, columns=colunas)
df[['id', 'rua']]
df

,id,sexo,titulo,nome,sobrenome,cidade,estado,rua,pais,email,data_nascimento,load_date
0,1,female,Miss,Victoria,Lambert,Gloucester,Rutland,dois,United Kingdom,victoria.lambert@example.com,1965-06-20,2024-03-16 00:00:00
1,2,female,Ms,Laly,Lemaire,Brest,Seine-Saint-Denis,rue bataille,France,laly.lemaire@example.com,1964-06-22,2024-04-27 21:42:25
2,3,male,Mr,Dylan,Wilson,Auckland,Wellington,cameron road,New Zealand,dylan.wilson@example.com,1969-01-25,2024-04-27 21:42:25
3,4,female,Ms,Amalie,Bork,Oberweißbach/Thür. Wald,Bremen,rosenweg,Germany,amalie.bork@example.com,1977-04-09,2024-04-27 21:42:25
4,5,male,Mr,Hans-Erich,Dressler,Rees,Sachsen-Anhalt,kirchstraße,Germany,hans-erich.dressler@example.com,1951-10-25,2024-04-27 21:42:25
...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4997,female,Miss,Gema,Méndez,Santiago de Compostela,Comunidad Valenciana,calle de pedro bosch,Spain,gema.mendez@example.com,1945-10-01,2024-04-27 21:42:25
4997,4998,male,Mr,Ron,Howell,Mildura,South Australia,edwards rd,Australia,ron.howell@example.com,1949-10-16,2024-04-27 21:42:25
4998,4999,male,Monsieur,Ramadan,Fournier,Würenlingen,Jura,rue bony,Switzerland,ramadan.fournier@example.com,1970-08-17,2024-04-27 21:42:25
4999,5000,female,Mrs,Aza,Didkivskiy,Oleksandriya,Hmelnicka,osvicka,Ukraine,aza.didkivskiy@example.com,1963-01-20,2024-04-27 21:42:25
5000,5001,female,Mrs,Zara,Johnson,Greymouth,Waikato,hilton highway,New Zealand,zara.johnson@example.com,1981-08-15,2024-04-27 21:42:25